.help-header{
    font-size:20px;
    font-weight:bold;
}
.help-labels{
    font-weight:bold;
}
.toast{
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(0,0,0,.5);
    border-radius: 6px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
